apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: nginx-exporter
  namespace: default
  labels:
    release: kube-prometheus
spec:
  selector:
    matchLabels:
      app: nginx-exporter
  endpoints:
    - port: http
      interval: 15s
      path: /metrics

